In [2]:
import pandas as pd
import os

In [19]:
labels = ['Q1', 'Q2', 'Q3', 'Q4']
models = ['gan', 'transformer_1', 'transformer_2']
gan_path = 'gan_by_emotion/'
transformer_1_path = 'transformer_1_by_emotion/'
transformer_2_path = 'transformer_2_by_emotion/'

In [37]:
gan_list = []
transformer_1_list = []
transformer_2_list = []

In [38]:
# get the file names for each emotion
for label in labels:
    for model in models:
        if model == 'gan':
            for file in os.listdir(os.path.join(gan_path, label)):
                gan_list.append(model + '_' + label + '_' + file)
        elif model == 'transformer_1':
            for file in os.listdir(os.path.join(transformer_1_path, label)):
                transformer_1_list.append(model + '_' + label + '_' + file)
        elif model == 'transformer_2':
            for file in os.listdir(os.path.join(transformer_2_path, label)):
                transformer_2_list.append(model + '_' + label + '_' + file)

In [39]:
# save the file names to a df
gan_df = pd.DataFrame(gan_list, columns=['file_name'])
transformer_1_df = pd.DataFrame(transformer_1_list, columns=['file_name'])
transformer_2_df = pd.DataFrame(transformer_2_list, columns=['file_name'])

In [40]:
gan_df

                       file_name
0      gan_Q1_transformer478.mid
1      gan_Q1_transformer450.mid
2      gan_Q1_transformer336.mid
3     gan_Q1_transformer1262.mid
4      gan_Q1_transformer322.mid
...                          ...
5054   gan_Q4_transformer449.mid
5055   gan_Q4_transformer461.mid
5056   gan_Q4_transformer307.mid
5057   gan_Q4_transformer313.mid
5058   gan_Q4_transformer475.mid

[5059 rows x 1 columns]

In [45]:
# save the dfS to csv
# gan_df.to_csv('gan_file_names.csv', index=False)
# transformer_1_df.to_csv('transformer_1_file_names.csv', index=False)
# transformer_2_df.to_csv('transformer_2_file_names.csv', index=False)

In [43]:
gan_sample = gan_df.sample(n=12, random_state=7)
transformer_1_sample = transformer_1_df.sample(n=12, random_state=8)
transformer_2_sample = transformer_2_df.sample(n=12, random_state=9)

In [44]:
gan_sample

                       file_name
4086   gan_Q4_transformer308.mid
1542   gan_Q2_transformer523.mid
78     gan_Q1_transformer321.mid
2553   gan_Q2_transformer358.mid
1580  gan_Q2_transformer1259.mid
387   gan_Q1_transformer1228.mid
1090   gan_Q1_transformer507.mid
4957   gan_Q4_transformer932.mid
4063   gan_Q4_transformer903.mid
1915   gan_Q2_transformer384.mid
2933   gan_Q2_transformer716.mid
2086  gan_Q2_transformer1629.mid

In [46]:
transformer_1_sample

                                 file_name
3420   transformer_1_Q3_transformer232.mid
1811   transformer_1_Q2_transformer168.mid
4544   transformer_1_Q4_transformer598.mid
1749  transformer_1_Q2_transformer1412.mid
2269    transformer_1_Q2_transformer47.mid
2798   transformer_1_Q2_transformer339.mid
846    transformer_1_Q1_transformer548.mid
574    transformer_1_Q1_transformer608.mid
2408  transformer_1_Q2_transformer1421.mid
4638   transformer_1_Q4_transformer160.mid
4209   transformer_1_Q4_transformer497.mid
3357    transformer_1_Q3_transformer67.mid

In [47]:
transformer_2_sample

                                 file_name
4664   transformer_2_Q4_transformer776.mid
687    transformer_2_Q1_transformer573.mid
2834  transformer_2_Q2_transformer1443.mid
591     transformer_2_Q1_transformer48.mid
4135  transformer_2_Q4_transformer1073.mid
4672   transformer_2_Q4_transformer945.mid
3392   transformer_2_Q3_transformer838.mid
1517   transformer_2_Q2_transformer708.mid
1056   transformer_2_Q1_transformer300.mid
2814  transformer_2_Q2_transformer1084.mid
3588    transformer_2_Q3_transformer91.mid
2789  transformer_2_Q2_transformer1245.mid